.fish-ff5353 {
    background: url(../images/shark.png) no-repeat center center #ff5353;
    background-size: contain;
}

.fish-73bdff {
    background: url(../images/fish.png) no-repeat center center #73bdff;
    background-size: contain;
}